apex==0.1
certifi==2020.12.5
chardet==3.0.4
cupy-cuda111==8.6.0
fastrlock==0.6
future==0.18.2
googledrivedownloader==0.4
idna==2.10
matplotlib==3.4.1
mido==1.2.9
mir-eval==0.6
numpy==1.19.2
pillow==9.3.0
prettytable==2.1.0
pretty-midi==0.2.9
requests==2.24.0
scipy==1.6.3
six==1.15.0
soundfile==0.10.3.post1
torch==1.8.1+cu111
torchvision==0.9.1
tqdm==4.51.0
urllib3==1.26.5
wandb==0.10.27
